header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  img {
    width: 300px;
  }

  form {
    border: 1px solid green;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: $divsColor;
    box-shadow: 0px 0px 5px $boxShadow;

    #city-input {
      margin-right: 10px;
      padding: 0px 10px;
      border: none;
      background: none;
      color: #ccc;
      transition: all 0.5s;
      font-family: "Noto Sans JP", sans-serif;
      width: 150px;
    }

    button {
      border: none;
      cursor: pointer;
      background: none;

      svg {
        fill: white;
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media screen and (max-width: 679px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 20vh;
  }
}
