@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #16161f;
  font-family: "Noto Sans JP", sans-serif;
}

.visible {
  display: none;
}

header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

header img {
  width: 300px;
}

header form {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #1a1b27;
  -webkit-box-shadow: 0px 0px 5px #00d1ff;
          box-shadow: 0px 0px 5px #00d1ff;
}

header form #cityInput {
  margin-right: 10px;
  padding: 0px 10px;
  border: none;
  background: none;
  color: #ccc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Noto Sans JP", sans-serif;
  width: 150px;
}

header form button {
  border: none;
  cursor: pointer;
  background: none;
}

header form button svg {
  fill: white;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 679px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 17vh;
  }
}

#weather-stat-section {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#weather-stat-section .loader-container {
  text-align: center;
}

#weather-stat-section .loader-container .lds-ripple {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

#weather-stat-section .loader-container .lds-ripple div {
  position: absolute;
  border: 4px solid #00d1ff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#weather-stat-section .loader-container .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

#weather-stat-section .loader-container h3 {
  margin-top: 20px;
  color: white;
  font-style: italic;
  font-weight: 100;
  font-size: 30px;
}

#weather-stat-section .city-stats-container {
  width: 60%;
  height: 90%;
  -webkit-box-shadow: 0px 0px 10px #00d1ff;
          box-shadow: 0px 0px 10px #00d1ff;
  background-color: #1a1b27;
  border-radius: 20px;
}

#weather-stat-section .city-stats-container .upper-card-part {
  height: 70%;
}

#weather-stat-section .city-stats-container .upper-card-part .header-stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

#weather-stat-section .city-stats-container .upper-card-part .header-stats h3 {
  color: white;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats h4 {
  font-size: 100px;
  color: white;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats small {
  font-size: 20px;
  position: absolute;
  top: 10px;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: auto;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats .switch input:checked + .slider {
  background-color: #00d1ff;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  content: "°F";
  text-align: center;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1b27;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats .switch .slider:before {
  position: absolute;
  content: "°C";
  text-align: center;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats .switch .slider.round {
  border-radius: 34px;
}

#weather-stat-section .city-stats-container .upper-card-part .mid-stats .switch .slider.round:before {
  border-radius: 50%;
}

#weather-stat-section .city-stats-container .bottom-card-part {
  height: 30%;
  border-radius: 0px 0px 20px 20px;
  color: white;
  padding: 10px 20px;
}

#weather-stat-section .city-stats-container .bottom-card-part .first-stats .stats-label,
#weather-stat-section .city-stats-container .bottom-card-part .second-stats .stats-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#weather-stat-section .city-stats-container .bottom-card-part .first-stats .stats-value,
#weather-stat-section .city-stats-container .bottom-card-part .second-stats .stats-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#weather-stat-section .city-stats-container .bottom-card-part .first-stats {
  margin-bottom: 20px;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 679px) {
  #weather-stat-section {
    height: 73vh;
  }
}

@media screen and (max-width: 768px) {
  #weather-stat-section .city-stats-container {
    width: 70%;
  }
}

footer {
  height: 10vh;
  padding: 10px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .left span {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

footer .left img {
  width: 100px;
}

footer .right svg {
  fill: white;
  cursor: pointer;
}

footer .right svg:hover {
  fill: #00d1ff;
}

@media screen and (max-width: 898px) {
  footer .left {
    width: 80%;
  }
}

@media screen and (max-width: 444px) {
  footer .left img {
    width: 50px;
  }
}
/*# sourceMappingURL=main.css.map */